/******************************************* 
Caractéristiques globales de la page sportif
*******************************************/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    background-color: white;
    width: 1440px;
}

/********************************************
Caractéristiques du header de la page sportif
********************************************/
header {
    background-image: url(images/imagesHeader.png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
    padding-bottom: 660px;
    width: 100%;
    justify-content: space-between;
}

/********************************************
Caractéristiques du footer de la page sportif
********************************************/
footer {
    background-color: black;
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
    margin: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

footer aside {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-size: 14px;
    width: 80%;
    justify-content: space-between;
}

footer nav {
    display: flex;
    flex-direction: column;
    text-align: left;
}

footer aside a {
    width: 200px;
    height: 200px;
}

footer nav h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    margin-bottom: 5px;
    font-size: 14px;
}

footer div>a {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    vertical-align: middle;
    text-decoration: none;
}

footer div {
    align-items: center;
    justify-content: space-between;
}

footer>p, footer>div {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

/*******************************************************
Caractéristiques des sections du main de la page sportif
*******************************************************/
section {
    width: 100%;
    background-color: #e3d2c1;
    color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*********************************************
Caractéristiques des vidéos de la page sportif
*********************************************/
video {
    display: flex;
    align-items: center;
    align-content: center;
    width: 400px;
    height: auto;
    margin: 20px;
    padding: 20px;
}

/*************************************************************************
Caractéristiques de la section performances de carrière de la page sportif
*************************************************************************/
main aside{
    background-color: #e3d2c1;
    color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

main aside aside {
    background-color: #4b4747;
    color:white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #e3d2c1 inset;
    width: 100%;
}
main aside aside h3 {
    color: white;
    margin: 20px 0;
}

h2, h3 {
    margin: 20px 0;
    color: black;
}

aside article {
    margin: 10px;
    padding: 15px;
    width: auto;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 100%;
}

article h3 {
    margin-bottom: 10px;
}

article ul {
    list-style-type: disc;
    padding-left: 20px;
}

article ul li {
    margin: 5px 0;
}

/*****************************************************************************
Caractéristiques de la section actualités + réseaux sociaux de la page sportif
*****************************************************************************/
main section aside a {
    display: inline-block;
    width: auto;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

main section:last-child h2{
    text-align: center;
}

main section:last-child aside:last-child {
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 10px;
    padding-left: 0px;
}

main section:last-child {
    display: inline-flex;
    flex-direction: row;
}

main section:last-child aside:last-child img {
    width: 100px;
    height: auto;
    align-items: center;
    padding: 20px;
}

main section:last-child{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    margin: 0px;
}

/****************************************************************************
Caractéristiques de la section biographie + fiche identité de la page sportif
****************************************************************************/
main>section:first-of-type {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    background-color: white;
}

main>section article {
    width: 50%;
    background-color: #e3d2c1;
    border-radius: 10px;
    margin: 0px;
    padding: 20px 10px;
}

main>section article h2 {
    text-align: center;
    margin-top: 20px;
}

main>section:first-of-type aside {
    width : 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
}

main>section:first-of-type aside img {
    height: 50%;
    width: 100%;
}

main>section:first-of-type aside li {
    margin: 10px;
}

/*********************************************************
Caractéristiques de la section palmarès de la page sportif
*********************************************************/
main>section:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

main>section:nth-child(2) h2{
    width: 100%;
    text-align: center;
}

main>section:nth-child(2) table {
    border-spacing: 1em;
    padding-right: 3em;
    width: 50%;
    padding-left: 1em;
}

main>section:nth-child(2) thead{
    text-align: center;
    font-weight: bold;
}

main>section:nth-child(2) th{
    text-align: left;
    text-decoration: none;
    font-weight: normal;
}

main>section:nth-child(2) td{
    margin-top: 20px;
    text-align: center;
} 

main>section:nth-child(2) tbody tr td:first-of-type{
    background-color: #d3c481;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
}

main>section:nth-child(2) tbody tr td:nth-of-type(2){
    background-color: #c0c0c0;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
}

main>section:nth-child(2) tbody tr td:nth-of-type(3){
    background-color: #cd7f32;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
}

main>section:nth-child(2) img {
    margin: 0em;
    padding-right: 0em;
}